#about-banner{
    display: flex;
    background-image: url(logo/banner.jpg);
    background-size: cover;
    height: 36vh;
    align-items: flex-start;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#apart-2{
    width: 110px;
}

#apart-3{
    width: 110px;
}

#apart-4{
    width: 110px;
}

#apart-1{
    width: 110px;
}
#about-banner h3{
    padding-top: 60px;
    color: white;
    font-size: 40px;
}

#about-banner p {
    color: rgb(255 255 255);
    font-size: 14px;
}

#about-section{
    padding: 40px 80px;
}

#about-section #heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    padding-bottom: 20px;
}

#about-section .desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-section .left-section{
    width: 60%;
    line-height: 2;
    padding: 20px;
    font-size: 20px;
}

#about-section img{
    width: 33vw;
    border-radius: 15px;
}

#about-section .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.unique{
    padding: 50px 50px;
}

.unique img:hover{
    width: 200px;
    cursor: pointer;
}

#services{
    background-color: rgb(216, 216, 216);
    padding: 50px 80px;
}

#setapart {
    display: flex;
    margin-bottom: 40px;
    /* margin: 40px 0; */
    /* align-items: center; */
    justify-content: center;
    font-size: 60px;
}

.unique .apart-image{
    width: 83px;
}

.unique .container-section .box {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px; */
    margin: 0px 10px;  
    flex-wrap: nowrap;
    padding: 0 0;
}

.unique .container-section
{
    padding: 0 0;
}

.unique .container-section .box span{
    font-size: 20px;
    margin: 10px 0;
}



.commitment{
    padding: 50px 50px;
}

.commitment #head{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 60px;
}


/* Our Team */
.working {
    margin: 50px 50px;
}

.working #head{
    display: flex;
    justify-content: center;
    font-size: 80px;
}

.working img{
    width: 150px;
}

.working .team {
    display: flex;
    padding: 40px 10px;
    justify-content: space-evenly;
    height: 25vw;
}

.working .team-member img
{
    border-radius: 10px;
}
.working .team-member {
    display: flex;
    flex-direction: column;
    width: 27vw;
    align-items: center;
}

.working .team-member span{
    margin: 20px 0 0 0;
    font-size: 30px;
}

.working .team-member h2{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 400;
}

.working .team-member p{
    font-size: 15px;
}