*{
  margin: 0;
  padding: 0;
}

#contact-banner{
    display: flex;


    background-image: url(img/contact-banner.jpg);
    background-size: cover;
    height: 36vh;
    align-items: flex-start;
    justify-content: center;
}

#contact-banner h3{
    color: white;
    padding-top: 60px;
    font-size: 40px;
}


#contact-banner p {
    padding: 10px 0;
    color: black;
    font-size: 14px;
}

#contact-header{
    padding: 80px 20px;
}

#contact-header img{
    width: 100px;
}

#contact-header p{
    color: black;
    font-size: 20px;
    padding: 21px 0 ;
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
#contact-form{
  font-family: "Poppins", sans-serif;
}

#contact-form {
  padding: 50px 80px;
  background-color: #ffffff;
}
.head{
    display: flex;
    flex-direction: column;
}

.head p{
    color: black;
    font-size: 15px;
}

#forms{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.input-box{
  width: 32vw;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #000000;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}


.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #a5a5a5;
  font-size: 1rem;
}
.form button {
    height: 45px;
    width: 24%;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(3, 3, 92);
}
.form button:hover {
  background: rgb(0, 0, 0);
}

#textarea{
  margin-top: 15px;
}

#reach {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 80px;
  background-color: rgb(232, 232, 232);
  height: 50vh;
}

#reach h3{
  font-size: 35px;
  padding: 15px 0;
}

#reach i{
  color: rgb(0, 0, 67);
}

#reach span{
  color: rgb(0, 0, 67);
}
#reach #branch{
  padding-top: 50px;
}

.form-data{
  display: flex;
  flex-direction: row;
}

#forms{
  display: flex;
  align-items: center;
}
.maps{
  width: 30vw;
  margin-left: 20vw;
}